html {
    background-color:aliceblue;
    margin:auto;
    font-family: 'IBM Plex Mono', monospace;
    color:black;
    scroll-behavior: smooth;
}
body{
    max-width: 1280px;
    margin: 0 auto;
}
.container {
    margin: 0 20px 0 20px;
}
h1 {
    text-align: center;
    /* color:darkslateblue; */
}
h2{
    color:darkolivegreen;
}

.header {
    
    width:100%;
    justify-content: space-between;

}
.section__content {
    list-style-type: none;
    padding-left: 0px;
}
.section__contact__info,
.section__skills,
.section__code,
.section__languages,
.footer__link {
    text-align: right;
}
.header__nav__ul {
    padding-left: 15px;
}
.nav__item {
   margin : 5px;
   list-style-type: none;
}
.nav__item :hover {
    border-bottom: 2px green solid;
}
a {
    text-decoration: none;
}
.navigation {
    float:right;
    border-bottom: 1px solid red;
    border-left:1px solid red;
}
.header__img {
    width : 135px;
    height: 170px;
    background: url(photo1.jpg);
}
.section__item {
    font-weight: 600;
}
span {
    font-weight: 200;
}
.footer__link {
    font-size: 18px;
    font-weight: 600;
}
